{% extends 'djesapp/_base.html' %}

{% load i18n %}

{% block content %}

  <!-- Search form -->

  <form class="well"
        method="POST"
        action="{% url 'app:blog' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary"
                type="submit"
                name="action">
          <span class="glyphicon glyphicon-plus"></span>
          {% trans "Add Blog" %}
        </button>
  </form>

  <!-- Blog list in a table -->

  {% if blogs %}
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Url' %}</th>
          <th class="form-action">{% trans 'Actions' %}</th>
        <tr>
      </thead>
      <tbody>
        {% for blog in blogs %}
          <tr>
            <td>{{ blog.name }}</td>
            <td>{{ blog.url }}</td>
            <td>
              <a class="btn btn-danger"
                 href="{% url 'app:delete_blog' blog.id %}">
                 {% trans 'Delete' %}
              </a>
            </td>
          <tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-info">
      {% blocktrans %}
      <b>No blog registered yet.</b><br />
      Please start by adding a new blog using the form above.
      {% endblocktrans %}
    </p>
  {% endif %}

{% endblock content %}
