{% extends 'djesapp/_base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

  <!-- Search form -->

  <form class="well"
        method="POST"
        action="{% url 'app:search' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary"
                type="submit"
                name="action">
          <span class="glyphicon glyphicon-search"></span>
          {% trans "Search" %}
        </button>
  </form>

  <!-- Articles matching in a table -->

  {% if articles %}
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>{% trans 'Blog' %}</th>
          <th>{% trans 'Article' %}</th>
          <th>{% trans 'Terms' %}</th>
        <tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr>
            <td>{{ article.blog }}</td>
            <td>{{ article }}</td>
            <td></td>
          <tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock content %}
